################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CBE/appveyorWebServices/
/CBE/engauge-provisioning/
/CBE/engauge-provisioning-server/
/CBE/partner-link/
/CBE/specs/
