UPDATE ckbx_Text SET TextValue = 'This setting allows Engauge to randomly assign the order of your questions on each page, which can help minimize answer bias.'
	WHERE TextID = '/pageText/surveyStyle.aspx/tooltip/randomizeItems'