ALTER TABLE ckbx_ResponseTemplate ADD DisplayPDFDownloadButton bit NULL



IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ckbx_sp_RT_Update]') AND type in (N'P', N'PC'))
DROP PROCEDURE [ckbx_sp_RT_Update]
GO


IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ckbx_sp_RT_Update]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [ckbx_sp_RT_Update] 
(
    @ResponseTemplateID int,
    @TemplateName nvarchar(255),
    @NameTextID nvarchar(255),
    @TitleTextID nvarchar(255),
    @DescriptionTextID nvarchar(255),
    @IsActive bit,
    @ActivationStart datetime,
    @ActivationEnd datetime,
    @MaxTotalResponses int,
    @MaxResponsesPerUser int,
    @AllowContinue bit,
	@ShowSaveAndQuit bit,
    @AllowEdit bit,
    @AllowFormReset bit,
    @AnonymizeResponses bit,
    @GuestPassword nvarchar(255),
    @DisableBackButton bit,
    @StyleTemplateID int,
    @TabletStyleTemplateID int,
    @SmartPhoneStyleTemplateID int,
    @ShowPageNumbers bit,
	@ShowTopSurveyButtons bit,
	@HideTopSurveyButtonsOnFirstAndLastPage bit,
	@DisplayPDFDownloadButton bit,
    @ShowProgressBar bit,
    @ProgressBarOrientation int,
    @ShowItemNumbers bit,
    @EnableDynamicPageNumbers bit,
    @EnableDynamicItemNumbers bit,
    @ShowTitle bit,
    @ShowAsterisks bit,
	@HideFooterHeader bit,
	@MobileStyleId int,
    @RandomizeItemsInPages bit,
    @ShowValidationMessage bit,
    @RequiredFieldsAlert bit,
    @MobileCompatible bit,
    @ButtonContinueTextID nvarchar(255),
    @ButtonBackTextID  nvarchar(255),
    @SupportedLanguages nvarchar(1023),
    @DefaultLanguage nvarchar(5),
    @LanguageSource nvarchar(25),
    @LanguageSourceToken nvarchar(255),
    @SecurityType int,
    @ReportSecurityType int,
    @EnableScoring bit,
    @CompletionType int,
	@AllowSurveyEditWhileActive bit,
	@IsPoll bit,
	@ChartStyleID int,
	@Height int,
	@Width int,	
	@BorderWidth int,
	@BorderColor varchar(63),
	@BorderStyle varchar(63),
	@GoogleAnalyticsTrackingID varchar(32)
)
AS	
  UPDATE [ckbx_ResponseTemplate]
  SET
    TemplateName = @TemplateName,
    NameTextID = @NameTextID,
    TitleTextID = @TitleTextID,
    DescriptionTextID = @DescriptionTextID,
    IsActive = @IsActive,
    ActivationStart = @ActivationStart,
    ActivationEnd = @ActivationEnd,
    MaxTotalResponses = @MaxTotalResponses,
    MaxResponsesPerUser = @MaxResponsesPerUser,
    AllowContinue = @AllowContinue,
	ShowSaveAndQuit = @ShowSaveAndQuit,
    AllowEdit = @AllowEdit,
    AllowFormReset = @AllowFormReset,
    DisableBackButton = @DisableBackButton,
    GuestPassword = @GuestPassword,
    StyleTemplateID = @StyleTemplateID,
    TabletStyleTemplateID = @TabletStyleTemplateID,
    SmartPhoneStyleTemplateID = @SmartPhoneStyleTemplateID,
    ShowPageNumbers = @ShowPageNumbers,
    EnableDynamicPageNumbers = @EnableDynamicPageNumbers,
    EnableDynamicItemNumbers = @EnableDynamicItemNumbers,
    ShowProgressBar = @ShowProgressBar,
    ProgressBarOrientation = @ProgressBarOrientation,
    ShowItemNumbers = @ShowItemNumbers,
    ShowTitle = @ShowTitle,
    ShowAsterisks = @ShowAsterisks,
	HideFooterHeader = @HideFooterHeader,
	MobileStyleId  = @MobileStyleId,
    RandomizeItemsInPages = @RandomizeItemsInPages,
    ShowValidationMessage = @ShowValidationMessage,
    RequiredFieldsAlert = @RequiredFieldsAlert,
    MobileCompatible = @MobileCompatible,
    ButtonContinueTextID = @ButtonContinueTextID,
    ButtonBackTextID = @ButtonBackTextID,
    SupportedLanguages = @SupportedLanguages,
    DefaultLanguage = @DefaultLanguage,
    LanguageSource = @LanguageSource,
    LanguageSourceToken = @LanguageSourceToken,
    SecurityType = @SecurityType,
    ReportSecurityType = @ReportSecurityType,
    EnableScoring = @EnableScoring,
    CompletionType = @CompletionType,
	AllowSurveyEditWhileActive = @AllowSurveyEditWhileActive,
	IsPoll = @IsPoll,
	ChartStyleID = @ChartStyleID,
	Height = @Height,
	Width = @Width,
	BorderWidth = @BorderWidth,
	BorderColor = @BorderColor,
	BorderStyle = @BorderStyle,
	AnonymizeResponses = @AnonymizeResponses,
	GoogleAnalyticsTrackingID = @GoogleAnalyticsTrackingID,
	ShowTopSurveyButtons = @ShowTopSurveyButtons,
	HideTopSurveyButtonsOnFirstAndLastPage = @HideTopSurveyButtonsOnFirstAndLastPage,
	DisplayPDFDownloadButton = @DisplayPDFDownloadButton

  WHERE
    ResponseTemplateID = @ResponseTemplateID

'
END
GO




IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ckbx_sp_RT_Insert]') AND type in (N'P', N'PC'))
DROP PROCEDURE [ckbx_sp_RT_Insert]
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ckbx_sp_RT_Insert]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [ckbx_sp_RT_Insert] 
(
    @ResponseTemplateID int,
    @TemplateName nvarchar(255),
    @NameTextID nvarchar(255),
    @TitleTextID nvarchar(255),
    @DescriptionTextID nvarchar(255),
    @IsActive bit,
    @ActivationStart datetime,
    @ActivationEnd datetime,
    @MaxTotalResponses int,
    @MaxResponsesPerUser int,
    @AllowContinue bit,
	@ShowSaveAndQuit bit,
    @AllowEdit bit,
    @AllowFormReset bit,
    @AnonymizeResponses bit,
    @DisableBackButton bit,
    @RandomizeItemsInPages bit,
    @ShowValidationMessage bit,
    @RequiredFieldsAlert bit,
    @MobileCompatible bit,
    @ButtonContinueTextID nvarchar(255),
    @ButtonBackTextID nvarchar(255),
    @LanguageSource nvarchar(25),
    @LanguageSourceToken nvarchar(255),
    @GuestPassword nvarchar(255),
    @StyleTemplateID int,
    @TabletStyleTemplateID int,
    @SmartPhoneStyleTemplateID int,
    @ShowPageNumbers bit,
	@ShowTopSurveyButtons bit,
	@HideTopSurveyButtonsOnFirstAndLastPage bit,
	@DisplayPDFDownloadButton bit,
    @EnableDynamicPageNumbers bit,
    @EnableDynamicItemNumbers bit,
    @ShowProgressBar bit,
    @ProgressBarOrientation int,
    @ShowItemNumbers bit,
    @ShowTitle bit,
    @ShowAsterisks bit,
	@HideFooterHeader bit,
	@MobileStyleId int,
    @SupportedLanguages nvarchar(1023),
    @DefaultLanguage nvarchar(5),
    @SecurityType int,
    @ReportSecurityType int,
    @EnableScoring bit,
    @GUID nvarchar(50),
    @CreatedBy nvarchar(255),
    @CompletionType int,
	@AllowSurveyEditWhileActive bit,
	@IsPoll bit,
    @ChartStyleID int,
	@Height int,
	@Width int,
	@BorderWidth int,
	@BorderColor varchar(63),
	@BorderStyle varchar(63),
	@GoogleAnalyticsTrackingID varchar(32)
)
AS
INSERT INTO [ckbx_ResponseTemplate] (
    ResponseTemplateID,
    TemplateName,
    NameTextID,
    TitleTextID,
    DescriptionTextID,
    IsActive,
    ActivationStart,
    ActivationEnd,
    MaxTotalResponses,
    MaxResponsesPerUser,
    AllowContinue,
	ShowSaveAndQuit,
    AllowEdit,
    AllowFormReset,
    AnonymizeResponses,
    DisableBackButton,
    RandomizeItemsInPages,
    ShowValidationMessage,
    RequiredFieldsAlert,
    MobileCompatible,
    ButtonContinueTextID,
    ButtonBackTextID,
    LanguageSource,
    LanguageSourceToken,
    GuestPassword,
    StyleTemplateID,
    TabletStyleTemplateID,
    SmartPhoneStyleTemplateID,
	HideFooterHeader,
	MobileStyleId,
    SupportedLanguages,
    DefaultLanguage,
    SecurityType,
    ReportSecurityType,
    EnableScoring,
    GUID,
    CreatedBy,
    CompletionType,
	AllowSurveyEditWhileActive,
	IsPoll,
	ChartStyleID,
	Height,
	Width,
	BorderWidth,
	BorderColor,
	BorderStyle,
	GoogleAnalyticsTrackingID,
	ShowTopSurveyButtons,
	HideTopSurveyButtonsOnFirstAndLastPage,
	DisplayPDFDownloadButton
)
VALUES (
    @ResponseTemplateID,
    @TemplateName,
    @NameTextID,
    @TitleTextID,
    @DescriptionTextID,
    @IsActive,
    @ActivationStart,
    @ActivationEnd,
    @MaxTotalResponses,
    @MaxResponsesPerUser,
    @AllowContinue,
	@ShowSaveAndQuit,
    @AllowEdit,
    @AllowFormReset,
    @AnonymizeResponses,
    @DisableBackButton,
    @RandomizeItemsInPages,
    @ShowValidationMessage,
    @RequiredFieldsAlert,
    @MobileCompatible,
    @ButtonContinueTextID,
    @ButtonBackTextID,
    @LanguageSource,
    @LanguageSourceToken,
    @GuestPassword,
    @StyleTemplateID,
    @TabletStyleTemplateID,
    @SmartPhoneStyleTemplateID,
	@HideFooterHeader,
	@MobileStyleId,
    @SupportedLanguages,
    @DefaultLanguage,
    @SecurityType,
    @ReportSecurityType,
    @EnableScoring,
    @GUID,
    @CreatedBy,
    @CompletionType,
	@AllowSurveyEditWhileActive,
	@IsPoll,
    @ChartStyleID,
	@Height,
	@Width,
	@BorderWidth,
	@BorderColor,
	@BorderStyle,
	@GoogleAnalyticsTrackingID,
	@ShowTopSurveyButtons,
	@HideTopSurveyButtonsOnFirstAndLastPage,
	@DisplayPDFDownloadButton
)
'
END

GO