<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Xheo.Licensing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<appSettings>
	<add key="Xheo.Licensing.ExternalLicenseServer.Xheo.Licensing Server" value="http://www.xheo.local/licensingserver.asmx"/>
	<add key="Xheo.Licensing.ExternalActivationServer.Xheo.Licensing Activation Server" value="http://www.xheo.local/activationserver.asmx"/>
<add key="Prezza.Licensing.LicenseEngine.ExternalActivationServer.Prezza Activation Server" value="http://localhost/licensing/UltimateSurveyActivationService.asmx"/></appSettings>
    <applicationSettings>
        <Xheo.Licensing.Properties.Settings>
            <setting name="Prezza_Licensing_LicenseEngine_ExternalLicenseServer_Xheo_Licensing_x0020_Server" serializeAs="String">
                <value>http://www.xheo.local/licensingserver.asmx</value>
            </setting>
            <setting name="Prezza_Licensing_LicenseEngine_ExternalActivationServer_Prezza_x0020_Activation_x0020_Server" serializeAs="String">
                <value>http://localhost/licensing/UltimateSurveyActivationService.asmx</value>
            </setting>
        </Xheo.Licensing.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
